{
"project_info": {
              "project_number": "967500933200",
              "project_id": "householdcleaningplanner",
"storage_bucket": "householdcleaningplanner.firebasestorage.app"
},
"client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:967500933200:android:430489dddf4d8087854955",
        "android_client_info": {
          "package_name": "com.example.householdcleaningplanner"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyCUo9IQ6QeY5CZsrzT3d9rScBU1fkGCHy8"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
"configuration_version": "1"
}